<!DOCTYPE html>
<html>
<head>
</head>
  <body>
    <p>Hello, <%= @user.first_name %>!</p>
    <br />
    <p>It looks like you have forgotten your password? <br />
      Dont worry, just <%= link_to "click here", edit_password_reset_url(@user.password_reset_token) %> to reset your password:</p>
    <div class="footer">
    </div>
  </body>
</html>